.container {
  justify-content: center;
  background-color: rgb(220, 226, 238);
  width: 900px;
  height: 150px;
  padding: 50px;

  margin: auto;
  border-radius: 15px;
  align-items: center;
}
.view {
  display: flex;
}
.grid-container {
  display: flex;
  padding-right: 30px;
}

.grid-container > div {
  font-size: 30px;
}
/* #parent3 {
  width: 100%;
  height: 140px;
  white-space: nowrap;
  overflow-x: auto;
}
.name5 {
  display: inline-block;
  width: 50%;
  height: 10%;
}
.name6 {
  display: inline-block;
  width: 50%;
  height: 10%;
}
.name7 {
  display: inline-block;
  width: 50%;
  height: 10%;
} */
